%h1 Enter text to be buttonated
%form{:action => "/create", :method => "post", 'accept-charset' => "utf-8"}
  %p
    %input#text{:type => "text", :name => "text"}/
  %p
    Choose a font
    %br
    = @font_selection
  %p
    %input{:type => "submit", :value => "Buttonate!"}/

%h2 Most recent button
%p
  %img{:src => "button.png", :width => "200", :height => "50"}
